@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

.icon-text {
    opacity: 0;
    font-size:0.8rem;
}

.navi {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.side-navi{
    color:black;
}

.side-navi .fa-caret-right {
    color: black;
}

.side-navi.active {
    color: var(--bs-primary);
}

.side-navi.active .fa-caret-right {
    color: var(--bs-primary);
}

.nav-link:hover .icon-text {
    opacity: 1;
}

.minNavIcon:hover .icon-text {
    opacity: 1;
}

.custom-btn {
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: bold;
}

.primary {
    background-color: #007bff;
    color: #fff;
}

.danger {
    background-color: #dc3545;
    color: #fff;
}

.secondary {
    background-color: #6c757d;
    color: #fff;
}

