@model WebAPIWithReactProject.Server.Models.Masterdg

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Masterdg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dgid" class="control-label"></label>
                <input asp-for="Dgid" class="form-control" />
                <span asp-validation-for="Dgid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dgname" class="control-label"></label>
                <input asp-for="Dgname" class="form-control" />
                <span asp-validation-for="Dgname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compid" class="control-label"></label>
                <input asp-for="Compid" class="form-control" />
                <span asp-validation-for="Compid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locationid" class="control-label"></label>
                <input asp-for="Locationid" class="form-control" />
                <span asp-validation-for="Locationid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uploadedyn" class="control-label"></label>
                <input asp-for="Uploadedyn" class="form-control" />
                <span asp-validation-for="Uploadedyn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firecid" class="control-label"></label>
                <input asp-for="Firecid" class="form-control" />
                <span asp-validation-for="Firecid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
